<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Application Form</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="../eternicode-bootstrap-datepicker/css/datepicker3.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
		<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="../public/js/form4.js"></script>
		<style type="text/css">
			body {
				background-image: url("Hackathon_2.jpg");
				background-size: cover;
				color: white;
			}
			.involve {
				padding: 20px 300px;
			}
			.form-horizontal .control-label {
				text-align: left;
			}

			.btn-group {
				margin-left: 15px;
			}
		</style>
	</head>
	<body>
		<div class="involve">
			<img src="APPFORM.jpg" height="20%">
			<br/>
			<br/>
			<form class="form-horizontal" role="form">

				<div class="form-group">
					<label for="extOrg" class="col-sm-5 control-label">Name of the external organization/college club/company initiative </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="extOrg" />
					</div>
				</div>

				<div class="form-group">
					<label for="startInvolveDate" class="col-sm-5 control-label">Start date of your involvement (mm/dd/yyyy)</label>
					<div class="input-group date col-sm-4" id="startInvolveDate" data-date-format="mm-dd-yyyy">
						<input class="form-control" type="text" readonly="" value="12-02-2012">
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				</div>

				<div class="form-group">
					<label for="endInvolveDate" class="col-sm-5 control-label">End date of your involvement (mm/dd/yyyy)</label>
					<div class="input-group date col-sm-4" id="endInvolveDate" data-date-format="mm-dd-yyyy">
						<input class="form-control" type="text" readonly="" value="12-02-2012">
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				</div>

				<div class="form-group">
					<label for="timeInvolve" class="col-sm-5 control-label">Please enter the total amount of time, in months, you were involved</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="timeInvolve" placeholder="Duration in Months" />
					</div>
				</div>

				<div class="form-group">
					<label for="postInvolve" class="col-sm-5 control-label">Position/Designation</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="postInvolve"/>
					</div>
				</div>

				<div class="form-group">
					<label for="selectionInvolve" class="col-sm-5 control-label">Please describe the selection process for this position</label>
					<div class="col-sm-4">
						<textarea class="form-control" rows="3" id="selectionInvolve"></textarea>
					</div>
				</div>

				<div class="form-group">
						<label class="col-sm-5 control-label">Were you leading a project or people in this role?</label>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary">
							<input type="radio" name="yesInvolve" id="optionsInvolve1" value="yes">Yes
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="noInvolve" id="optionsInvolve2" value="no">No
						</label>
					</div>
				</div>

				<div class="form-group">
					<label for="responsibleInvolve" class="col-sm-5 control-label">Please describe your individual responsibilities in this position</label>
					<div class="col-sm-4">
						<textarea class="form-control" rows="3" id="responsibleInvolve"></textarea>
					</div>
				</div>				

				<div class="form-group">
					<label for="achieveInvolve" class="col-sm-5 control-label">Please describe your individual responsibilities in this position</label>
					<div class="col-sm-4">
						<textarea class="form-control" rows="3" id="achieveInvolve"></textarea>
					</div>
				</div>

				<div class="form-group">
		            <div class="col-sm-5">
		                <button type="submit" class="btn btn-primary">Next</button>
		            </div>
		        </div>

			</form>
		</div>
	</body>
</html>