<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Application Form</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="../eternicode-bootstrap-datepicker/css/datepicker3.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
		<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="../public/js/form4.js"></script>
		<style type="text/css">
			body {
				background-image: url("Hackathon_2.jpg");
				background-size: cover;
				color: white;
			}
			.essays {
				padding: 20px 300px;
			}
			.form-horizontal .control-label {
				text-align: left;
			}
			.form-horizontal {
				width: 710px;
				margin-left: 16px;
			}
			.btn-group {
				margin-left: 15px;
			}

		</style>
	</head>
	<body>
		<div class="essays">
			<img src="APPFORM.jpg" height="20%">
				<br/>
				<br/>
			<div id="essaysIntro">
					<h4>Essays</h4>
					<article>
						On this page you have an opportunity to describe the qualities you possess which will make you a successful Teach For India Fellow. We check for plagiarism so please ensure that your responses are your own. We strongly recommend the following:
						a) Read the Teach For India website thoroughly before answering the essay questions.
						b) Answer each question completely.
						c) Check your essays for spelling, punctuation and grammar.
						d) Re-read and edit your essays thoroughly before you submit, ensuring you have answered each question completely.
						e) Check you meet the minimum character recommendquirement (400 characters excluding spaces for each essay  )
					</article>
			</div>
			<br>
			<form class="form-horizontal" role="form">

				<div class="form-group">
					<article>
						Please share with us an example of when, for an extended period, you made a substantial commitment to
						something but at times found it challenging to keep this commitment.
						Note:The example you describe must have been in the last 4 years (but from no earlier than under-graduate level). It
						must be an example from a professional, academic or extra-curricular context (NOT a personal one).
						Please understand an ‘extended period’ to be either a commitment over one continuous time period (of at
						least 1 month) e.g. editor of the student magazine in the 3rd year of college or a volunteer tutor to students for
						2 hours every Thursday for 45 weeks, OR a shorter but repeated commitment over multiple years. e.g. a
						member of a sports team in the month of October in years 1, 2 and 3 of college or volunteer at a blood donation
						camp in years October of 2011 and 12.
						Please describe:
					</article>
					<br>
					<div>
						<label>
						- What you committed to (including the time commitment made, responsibilities held or actions required) and
						why you made this commitment
						</label>
						<div class="col-sm-7">
							<textarea class="form-control" rows="5"></textarea>
						</div>
					</div>
					<div>
						<label>
							- The challenges you faced to keeping this commitment and when you realised you would face them
						</label>
						<div class="col-sm-7">
							<textarea class="form-control" rows="5"></textarea>
						</div>
					</div>
					<div>
						<label>
							- How you felt about these challenges and what you did about them (please be specific about actions you took,
							if any)
						</label>
						<div class="col-sm-7">
							<textarea class="form-control" rows="5"></textarea>
						</div>
					</div>
					<div>
						<label>
							- The ultimate outcome and how you felt about this
						</label>
						<div class="col-sm-7">
							<textarea class="form-control" rows="5"></textarea>
						</div>
					</div>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<div class="form-group">
			            <div class="col-sm-5">
			                <button type="submit" class="btn btn-primary">Next</button>
			            </div>
		            </div>
		        </div>
				</div>	
			</form>
	</body>
</html>